[user]
    name = Piyush Goyal
    email = dev.piyushgoyal@gmail.com

[core]
    editor = zed
    autocrlf = input
    symlinks = true

	pager = delta
[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple

[credential]
    helper = manager-core

[color]
    ui = auto
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
