#Git config
[credential "https://github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential

[user]
    name = Piyush Goyal
    email = 178092242+piyushxgoyal@users.noreply.github.com

[core]
	editor = env NVIM_APPNAME=nvim-nvchad nvim
    autocrlf = input
    symlinks = true
    pager = delta

[init]
    defaultBranch = main

[pull]
    ff = only

[push]
    autoSetupRemote = true

[fetch]
    prune = true

[merge]
    conflictStyle = zdiff3

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = ansi

[diff]
    algorithm = histogram
    colorMoved = default

[rerere]
    enabled = true

[commit]
    verbose = true

[color]
    ui = auto
